/* ------------------- */
/* Custom properties   */
/* ------------------- */

:root {
    /* colors */
    --clr-lightBlue: 178 60% 48%;
    --clr-lightBlueHover: 178 75% 65%;
    --clr-orange: 39 88% 58%;
    --clr-orangeHover: 39 100% 69%;
    --clr-darkNavy: 202 32% 15%;
    --clr-navy: 199 35% 19%;
    --clr-silver: 198 23% 72%;
    --clr-silverHover: 197 33% 89%;
    
    /* font-sizes */
    --fs-900: 1.5rem;
    --fs-800: 1.25rem;
    --fs-700: 1rem;
    --fs-600: 1rem;
    --fs-500: .875rem;   
}

@media (min-width: 35em) {
    :root {
        --fs-900: 2.5rem;
        --fs-800: 1.5rem;
        --fs-700: 1.25rem;
        --fs-600: 1rem;
        --fs-500: .875rem;
    }
}

@media (min-width: 45em) {
    :root {
        --fs-900: 2.5rem;
        --fs-800: 1.5rem;
        --fs-700: 1.25rem;
        --fs-600: 1rem;
        --fs-500: .875rem;
    }
}


/* ------------------- */
/* Reset               */
/* ------------------- */

/* https://piccalil.li/blog/a-modern-css-reset/ */

/* Box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
    margin: 0; 
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: 400;
}

/* set up the body */
body {
    font-family: 'Outfit', sans-serif;
    color: hsl( var(--clr-silver) );
    background-color: hsl( var(--clr-darkNavy) );
    min-height: 100vh;
    
    display: grid;
    grid-template-rows: min-content 1fr;

    overflow-x: hidden;
}

/* make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
    font: inherit;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ------------------- */
/* Utility classes     */
/* ------------------- */

/* general */

.flex {
    display: flex;
    gap: var(--gap, 1rem);
}

.grid {
    display: grid;
    gap: var(--gap, 1rem);
}

.flow > *:where(:not(:first-child)) {
    margin-top: var(--flow-space, 1rem);
}

.d-block {
    display: block;
}

.sr-only {
  position: absolute; 
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px; 
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

/* colors */

.bg-navy { background-color: hsl( var(--clr-navy) );}
.bg-orange { background-color: hsl( var(--clr-orange) );}
.bg-blue { background-color: hsl( var(--clr-lightBlue) );}
.bg-silver { background-color: hsl( var(--clr-silver) );}

.text-dark { color: hsl( var(--clr-darkNavy) );}
.text-silver { color: hsl( var(--clr-silver) );}
.text-orange { color: hsl( var(--clr-orange) );}
.text-blue { color: hsl( var(--clr-lightBlue) );}

/* typography */

.uppercase { text-transform: uppercase; }

.fs-900 {
    font-size: var(--fs-900);
    letter-spacing: 1.5px;
    line-height: 30.24px;
 }

.fs-800 {
    font-size: var(--fs-800);
    letter-spacing: 1.25px;
    line-height: 25.2px;
}

.fs-700 {
    font-size: var(--fs-700);
    letter-spacing: 1px;
    line-height: 20px;
}

.fs-600 {
    font-size: var(--fs-600);
    letter-spacing: 1px;
    line-height: 20.16px;
}

.fs-500 {
    font-size: var(--fs-500);
    letter-spacing: .8px;
    line-height: 17.64px;    
}

@media (min-width: 35em) {
    .fs-900 {
        letter-spacing: 2.5px;
        line-height: 50px;
     }
    
    .fs-800 {
        letter-spacing: 1.5px;
        line-height: 30.24px;
    }
    
    .fs-700 {
        letter-spacing: 1.25px;
        line-height: 25.2px;
    }
}

.attribution { 
    font-size: 11px;
    text-align: center; 
    align-self: end;
}

.attribution a { color: hsl(228, 45%, 44%); }


/* ----------------- */
/*     Game menu     */
/* ----------------- */

.gameMenu {
    text-align: center;
}

.gameMenu img {
    margin-inline: auto;
    margin-bottom: 2rem;
    margin-top: 7.5rem;
}

.choose-mark {
    background-color: hsl( var(--clr-navy) );
    margin-inline: auto;
    margin-bottom: 2rem;
    padding-inline: 1.5rem;
    border-radius: 15px;
    text-align: center;
    flex-direction: column;
    align-items: center;
    gap: 0;
    max-width: 327px;
    box-shadow: inset 0px -8px 0px #10212A;
}

.choose-mark h1 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.mark-container {
    width: 279px;
    height: 72px;
    background-color: hsl( var(--clr-darkNavy) );
    border-radius: 10px;
    gap: 132px;
    margin-bottom: 1rem;
}

.labels {
    display: block;
    position: relative;
    cursor: pointer; 
}

.labels input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 8px;
    left: 8px;
    height: 54px;
    width: 132px;
    border-radius: 10px;
    background-color: hsl( var(--clr-darkNavy) );
}

.labels:hover input ~ .checkmark {
    background-color: hsla( var(--clr-silver) / 0.05) ;
}

.labels input:checked ~ .checkmark {
    background-color: hsl( var(--clr-silver) );
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.labels input:checked ~ .checkmark:after {
    display: block;
}

.labels .checkmark:after {
    width: 0;
    height: 0;
}

.Xsvg, .Osvg {
    transform: scale(.5);
    position: relative;
    bottom: 5px;
}

.labels input:checked ~ .checkmark path{
    fill: hsl( var(--clr-darkNavy) );
}

.gameMenu p {
    margin-bottom: 2rem;
    opacity: .5;
}

.cpuBtn, .playerBtn {
    margin-inline: auto;
    width: 327px;
    height: 56px;
    border-radius: 15px;
    border: none;
    text-align: center;
    font-weight: 700;
    padding-bottom: 10px;
}

.cpuBtn:active, .playerBtn:active {
    transform: translateY(2px);
}

.cpuBtn {
    margin-bottom: 1rem;
    background: hsl( var(--clr-orange) );
    box-shadow: inset 0px -8px 0px #CC8B13;
}

.cpuBtn:hover {
    background-color: hsl( var(--clr-orangeHover) );
}

.playerBtn {
    background: hsl( var(--clr-lightBlue) );
    box-shadow: inset 0px -8px 0px #118C87;
}

.playerBtn:hover {
    background: hsl( var(--clr-lightBlueHover) );
}

/* ----------------- */
/*     Game board    */
/* ----------------- */

.gameBoard {
    display: none;
}

